:root{
    --color-primary: #22d3ee;
    --color-primary-hover: #a1e9f4;
    --color-secondary: #2c2c2c;
    --color-tertiary: #1A1A1A;       
    --color-text: #fff;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--color-tertiary);
    color: var(--color-text);
}

.sidebar {
    width: 220px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    backdrop-filter: blur(12px);
    background: rgba(0, 0, 0, 0.7);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 0 12px 12px 0;
    transition: all 0.3s;
}

.sidebar h2 {
    color: var(--color-primary);
    margin-bottom: 30px;
    font-family: 'Orbitron', sans-serif;
    text-align: center;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: var(--color-text);
    text-decoration: none;
    font-weight: bold;
    display: block;
    padding: 12px 16px;
    border-radius: 8px;
    transition: 0.3s;
    font-family: Arial, sans-serif;
}

.sidebar ul li a:hover {
    background-color: var(--color-primary-hover);
    color: #000;
    transform: scale(1.05);
}

.sidebar ul li .logout{
    background-color: #ff4b4b;
}

.sidebar ul li .logout:hover{
    background-color: #fa2b2b;
    transform: scale(1.05);
}

.main-content {
    margin-left: 260px;
    padding: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: var(--color-secondary);
    padding: 20px;
    border-radius: 12px;
    flex: 1;
    text-align: center;
    transition: transform 0.2s;
}

.card:hover {
    transform: translateY(-5px);
    background-color: rgba(34, 211, 238, 0.1);
}
